<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

</head>
<body>
    <div id="803c5a8cc2f94ac7abc7c079256a13f7" class="chart-container" style="width:600px; height:300px;"></div>
    <script>
        var chart_803c5a8cc2f94ac7abc7c079256a13f7 = echarts.init(
            document.getElementById('803c5a8cc2f94ac7abc7c079256a13f7'), 'white', {renderer: 'canvas'});
        var option_803c5a8cc2f94ac7abc7c079256a13f7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "SYPHILIS",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "Japan",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "Argentina",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "Russia",
                    "value": 1
                },
                {
                    "name": "Ireland",
                    "value": 1
                },
                {
                    "name": "Canada",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "Denmark",
                    "value": 1
                },
                {
                    "name": "Canada",
                    "value": 1
                },
                {
                    "name": "Eastern Europe",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "Brazil",
                    "value": 1
                },
                {
                    "name": "Canada",
                    "value": 1
                },
                {
                    "name": "Japan",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "Tunisia",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                },
                {
                    "name": "Japan",
                    "value": 1
                },
                {
                    "name": "Iraq",
                    "value": 1
                },
                {
                    "name": "United States",
                    "value": 1
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": false,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "SYPHILIS"
            ],
            "selected": {
                "SYPHILIS": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "SYPHILIS",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 10,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_803c5a8cc2f94ac7abc7c079256a13f7.setOption(option_803c5a8cc2f94ac7abc7c079256a13f7);
    </script>
</body>
</html>
