@media (min-width: 768px) {
    .news-input{
        width: 50%;
    }
}

#virus{
    width: 100%;
    height: 100%;
    background-image:url("/static/images/virus.png");
    background-size: cover;
}

#bacteria{
    width: 100%;
    height: 100%;
    background-image:url("/static/images/bacteria.png");
    background-size: cover;
}

#fungus{
    width: 100%;
    height: 100%;
    background-image:url("/static/images/fungus.png");
    background-size: cover;
}

#unknown{
    width: 100%;
    height: 100%;
    background-image:url("/static/images/unknown.png");
    background-size: cover;
}