{% extends 'base.html' %}

{% block title_block %}
    Index
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" href="/static/css/index.css"/>
{% endblock %}

{% block body_block %}
    <div class="p-2 bg-dark"></div>
    <!--The first part of index, introduction-->
    <section class="p-5 bg-dark text-light text-center text-sm-start" style="height: 25rem">
        <div class="container">
            <div class="d-flex">
                <div>
                    <h1>
                        Welcome to <span class="text-warning">Emerging</span>
                    </h1>
                    <h1>
                        <span class="text-warning">Pathogen Cases Monitor</span>
                    </h1>
                    <h5 class="my-5">
                        This is a website monitoring uncommon diseases.
                        <br>
                        Monitoring these cases helps us alert emerging pathogens and prevent epidemics.
                        <br>
                        <br>
                        Now start your monitoring by searching or checking the disease lists!
                    </h5>
                </div>
                <img
                        src="/static/images/index.png"
                        alt="showcase"
                        width="400"
                        class="img-thumbnail ms-auto d-none d-md-block"
                />
            </div>
        </div>
    </section>

    <!--The second part of index, start a search-->
    <section class="p-5 bg-primary text-light">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                <h3>Start using EPaC Monitor by search a <span class="text-danger">pathogen</span></h3>
                <form class="input-group news-input" action="http://127.0.0.1:8000/EPaCMonitor/search/">
                    <input
                            type="text"
                            name="search_word"
                            class="form-control"
                            placeholder="Enter a pathogen"
                    />
                    <button class="btn btn-warning btn-lg" type="submit">Search</button>
                </form>
            </div>
        </div>
    </section>

    <!--The third part of index, category of pathogens-->
    <section class="p-5 bg-warning bg-opacity-75">
        <div class="container">
            <div class="card-group row g-5">
                <!--One Card-->
                <div class="col-md px-5">
                    <div class="card bg-dark text-light" style="height: 24rem">
                        <div class="card-body text-center">
                            <h2 class="card-title position-absolute bottom-50 start-50 translate-middle my-4">Frequent
                                Disease</h2>
                            <p class="card-text position-absolute bottom-50 start-50 translate-middle my-2">Cases more
                                than 50</p>
                            <a href="EPaCMonitor/list_frequent"
                               class="btn btn-primary position-absolute bottom-0 start-50 translate-middle-x mb-5"
                            >View List</a>
                        </div>
                    </div>
                </div>
                <div class="col-md px-5">
                    <div class="card bg-dark text-light" style="height: 24rem">
                        <div class="card-body text-center">
                            <h2 class="card-title position-absolute bottom-50 start-50 translate-middle my-4">Common
                                Disease</h2>
                            <p class="card-text position-absolute bottom-50 start-50 translate-middle my-2">Cases from
                                15 to 50</p>
                            <a href="EPaCMonitor/list_common"
                               class="btn btn-primary position-absolute bottom-0 start-50 translate-middle-x mb-5"
                            >View List</a>
                        </div>
                    </div>
                </div>
                <div class="col-md px-5">
                    <div class="card bg-dark text-light" style="height: 24rem">
                        <div class="card-body text-center">
                            <h2 class="card-title position-absolute bottom-50 start-50 translate-middle my-4">Rare
                                Disease</h2>
                            <p class="card-text position-absolute bottom-50 start-50 translate-middle my-2">Cases less
                                than 15</p>
                            <a href="EPaCMonitor/list_less"
                               class="btn btn-primary position-absolute bottom-0 start-50 translate-middle-x mb-5"
                            >View List</a>
                        </div>
                    </div>
                </div>
                <div class="col-md px-5">
                    <div class="card bg-dark text-light" style="height: 24rem">
                        <div class="card-body text-center">
                            <h2 class="card-title position-absolute bottom-50 start-50 translate-middle my-4">
                                Undiagnosed Disease</h2>
                            <p class="card-text position-absolute bottom-50 start-50 translate-middle my-2">Undiagnosed cases</p>
                            <a href="EPaCMonitor/undiagnosed"
                               class="btn btn-primary position-absolute bottom-0 start-50 translate-middle-x mb-5"
                            >View Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
